body {
  margin-left: 40px;
}

h1 {
  font-size: 1.4em;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-left: 0;
  position: relative;
}

.elems_num {
  position: static;
  margin-left: 5%;
}

.box {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 3px;
  margin-right: 5px;
}

.box.fa {
  color: white;
  text-align: center;
}

label:hover {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: silver;
}

label:hover div.box {
  background: #22a80a;
  transition: 0.5s ease-in-out;
}

.add_task {
  margin-top: 0;
  margin-left: 3%;
  padding: 0;
  position: inherit;
}

.fa.fa-plus-square-o {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 5px;
  color: silver;
}

.fa.fa-plus-square-o:hover {
  color: #22a80a;
  transition: 0.2s;
}

input[type=text] {
  width: auto;
  position: relative;
  float: left;
  text-align: center;
  border-radius: 6px;
  display: block;
  font-size: 1em;
  font-style: normal;
}
